/* Class Selector */
.Block1{
    color: aqua;
    background-color: black;
}
.Block2{
    color: yellow;
    background-color: black;
}
/* Id Selector */
#Block3{
    color: rgb(221, 97, 52);
    background-color: black;
}

/* peudo Selector */

/* ul li:nth-child(3){
    color: rgb(239, 56, 239);
    background-color: black;
} */
/* ul li:nth-last-child(1){
    color: rgb(239, 56, 239);
    background-color: black;
} */
/* ul li:nth-of-type(2n+1){
    color: rgb(239, 56, 239);
    background-color: black;
} */

.Block1:hover{
    background-color: bisque;
}
.Block2:hover{
    background-color: bisque;
}
#Block3:hover{
    background-color: bisque;
}
ul li:hover{
    color: rgb(239, 56, 239);
    background-color:black;
}