.block1{
    font-size:50px;

    color: aqua;
    background-color: black;

    text-align:center;
    text-decoration: underline dotted rgb(171, 16, 206);
    text-transform:lowercase;
    text-shadow: 2px 2px 4px white;
}

.block1:hover{
    color: white;
    background-color: black;
    text-shadow: 2px 2px 2px aqua;
    text-decoration: underline dashed white;
    border-color: yellow;
}

.block1{
    border: 5px solid;
    background-color: brown;
    border-radius: 20px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
}